<p id="notice"><%= notice %></p>

<h1>Line Days</h1>
<div class="centered">

  <% 
  @line_days.each do |line_day|
  %>

  <%=
    react_component("LineDay", { 
        day: line_day.day, 
        description: line_day.description,
        link: "/line_days/#{line_day.id}", 
        is_admin: current_user.is_admin?,
        user_id: current_user.id
      }) 
  %>


  <%
    end
  %>

    <br>


    <% if current_user.is_admin %>

      <%=
        react_component("LineDay", { 
            day: 'New Line Day', 
            description: '(Admin only)',
            link: new_line_day_path, 
            is_admin: current_user.is_admin?,
            user_id: current_user.id
          }) 
      %>

    <% end %>
  </div>



<style>
  
    .line-day {
        width: 90%;
        padding: 2%;
        margin: 1%;
        font-size: 20px;
        font-weight: bold;
        background-color: #775b5b;
        color: white;
    }
  
    a:visited {
      color: white;
    }

</style>