
<div class="login-body">
	
	<div class="login-window">
		
		<% if current_user.nil? %>
			<form id="manual-login-form" method="POST" action='/users/manual_login'>
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<h3>Login</h3>
				<div class="form-group">
					<input type="hidden" name="type" value='manual'>
			    <label for="login_email">Email address</label>
			    <input type="email" class="form-control" name='login[email]' id="login_email" aria-describedby="emailHelp" placeholder="Enter email">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>

				<div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" name='login[password]' id="password" aria-describedby="emailHelp" placeholder="Enter email">
			  </div>
			  
				<input type="submit" name="Login" value="Login" class='btn btn-lg btn-primary sign_log_in'>
			</form>

			<a href="#" id='new-user-link' class='btn btn-lg btn-primary' style='    width: 100%'>New User?  Sign up here</a>

			<form id="manual-signup-form" action='/users/manual_create' method="POST" style="display: none;">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<h3>Sign Up</h3>
				<div class="form-group">
			    <label for="signup_email">User Name</label>
			    <input type="text" class="form-control" name='signup[name]' id="signup_name" aria-describedby="emailHelp" placeholder="Enter desired username">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>

				<div class="form-group">
			    <label for="signup_email">Email address</label>
			    <input type="email" class="form-control" name='signup[email]' id="signup_email" aria-describedby="emailHelp" placeholder="Enter email">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>

				<div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" name='signup[password]' id="signup_password" aria-describedby="emailHelp" placeholder="Enter password">
			  </div>

			  <div class="form-group">
			    <label for="confirmpassword">Confirm Password</label>
			    <input type="password" class="form-control" name='signup[password_confirmation]' id="signup_password" aria-describedby="emailHelp" placeholder="Please confirm password">
			  </div>

			  <div class="form-group">
			    <label for="avatarurl">Avatar URL(optional)</label>
			    <input type="avatarurl" class="form-control" name='signup[avatar_url]' id="signup_avatar" aria-describedby="emailHelp" placeholder="Enter url of yourself...if you want">
			  </div>

				<input type="submit" name="SignUp" value='Sign Up' class='btn btn-lg btn-primary sign_log_in'>
			</form>

			<a class="fblogin btn btn-lg btn btn-lg btn-primary" href="/users/auth/facebook" style="margin-top: 5px">
			  Or Login/Sign up with Facebook
			</a>
		<% end %>
	</div>

<script type="text/javascript">
	$('body').on('click', '#new-user-link', function(event) {
		event.preventDefault();
		var signup = $('#manual-signup-form');
		var login = $('#manual-login-form');

		if (signup.css('display') == 'none') {
			signup.slideDown(500, function() {});
			login.slideUp(500, function() {});
			$(this).text('Already Have an account?  Log in here')
		} else {
			login.slideDown(500, function() {});
			signup.slideUp(500, function() {});
			$(this).text('New User?  Sign up here')
		}
	});
</script>

	
		<% if !current_user.try(:is_valid?) && current_user %>
		<div class="val-code-box">
		<h3>
			validation code box
		</h3>
		<p>
			You were given a code via the e-mail that you signed up with, as part of your login to this site, you will need to use that code here
		</p>
			<form action='/members/validate_user'>
				<textarea name="code[code]" id='' class="form-control" style='width: 100%' placeholder="please enter the verification code given"></textarea>
				<br>
				<input type="submit" name="submit" class='btn btn-primary btn-lg' style='width: 100%'>
			</form>
		</div>
		<% end %>

		<div class="welcome-message">
		<h2>
			Welcome!  Thank you for using this site to organize your next trip to comic con.
		</h2>

		<p>
				<b>
					A few guide lines: 
				</b>
				<ul>
					<li>You must sign in using your facebook credentials, this is to avoid abuse of the site, and people gaming the member pool.  This site will in no way sell, or profit from any information you provide via facebook, or otherwise, this is strictly a tool I created to help those who want an SDCC ticket have an easier time getting one.</li>
					<li>When you log in, and you enter a valid code to validate yourself, you may create a 'buying group by navigating to the +GROUP button on top, from there, only the coordinator of that group may add members with thier SDCC membership ID.</li>
					<li>Please only add members of people that are trusted, this website assumes no liability for lost funds.</li>
					<li>Usually, every user signs only his or herself up.  But in the case that someone you know wants a ticket to SDCC but does not have a facebook account, you may sign them up using thier member ID, but you will assume respondsibility for them. </li>
					<li>You may buy tickets for up to 3 other people in addition to yourself, for this reason, a buying group has a maximum of 5 members  allowed to it, although a member can be part of up to 5 different buy groups, this is to ensure that people have an opportunity to buy for thier entire group if selected. There will always be one person in the group not covered but hopefully another group they are a part of may cover them.  This is my way to ensure the maximum amount of people who want a ticket may have to opportunity to buy one.</li>
					<li>If someone has registered a member you need to register, you may leave them a message on this site by clicking on thier avatar/portrait and following the instructions.</li>
				</ul>
		</p>
		</div>
</div>