
<div class="login-body">
	
	<% if current_user.nil? %>
		<a class="fblogin btn btn-lg btn btn-lg btn-primary" href="/users/auth/facebook">
		  Continue with Facebook
		</a>
	<% else %>
		<div class="welcome">
		<p>
			Welcome!  Thank you for using this site to organize your next trip to comic con.


			
		</p>

		<p>
			A few guide lines: 
		</p>
		</div>
	<% end %>
</div>