
<div class="welcome-message">
	<h2>Rules and Stuff</h2>
	<p>
		<h3>
			A few guide lines: 
		</h3>
		<ul>
			<li>You must sign in using your facebook credentials, or verify an e-mail with a manula sign up, this is to avoid abuse of the site, and people gaming the member pool.  This site will in no way sell, or profit from any information you provide via facebook, or otherwise, this is strictly a tool I created to help those who want an SDCC ticket have an easier time getting one.</li>
			<li>When you log in, you may create a 'buying group by navigating to the +GROUP button on top, from there, only the coordinator of that group may add members with thier SDCC membership ID.</li>
			<li>Please only add members of people that are trusted, this website assumes no liability for lost funds.</li>
			<li>Usually, every user signs only his or herself up.  But in the case that someone you know wants a ticket to SDCC but does not have a facebook account, you may sign them up using thier member ID, but you will assume respondsibility for them. </li>
			<li>You may buy tickets for up to 3 other people in addition to yourself, for this reason, a buying group has a maximum of 5 members  allowed to it, although a member can be part of up to 5 different buy groups, this is to ensure that people have an opportunity to buy for thier entire group if selected. There will always be one person in the group not covered but hopefully another group they are a part of may cover them.  This is my way to ensure the maximum amount of people who want a ticket may have to opportunity to buy one.</li>
			<li>If someone has registered a member you need to register, you may leave them a message on this site by clicking on thier avatar/portrait and following the instructions.</li>
		</ul>

		<h3>YOU MUST:</h3>

		<ul class="bbc_list"><li>Be eligible for the 2018 returning registration badge sale.</li><li>Share personal information with the group leader. This includes (but may not be limited to) your last name, phone number and email address.</li><li>Purchase badges for strangers (other people in the group, whom you may not know). <strong>Note that you are not allowed to buy badges for anyone who is not in your buying group. </strong>As such, make sure your friends/family are all in the same buying group.</li><li>Stay online/in the waiting room during the sale even if a badge has already been purchased for you, to help out others in the group by buying for them.</li><li>Join in a group chat (to be determined by the group leader) to stay in touch with your group on registration day.</li><li>If someone else buys a badge for you, payment should be made immediately (usually Paypal) to the buyer. Ideally this should be done within 24 hours of the badge sale.</li><li>If you buy badges for someone else, you should mail a screenshot or copy of the confirmation email to them immediately, so that they can confirm that they have a badge. At this time, it is appropriate to offer your payment information (usually Paypal) so that they can refund you.</li></ul>

	</p>

	<hr>

	<h3>Getting started:</h3>

	<h4>When you first sign up</h4>
		<ul>
			<li>When you first sign up an e-mail will be send to you e-mail address.</li>
			<li>Go to your e-mail and click the provided link, or paste what is send in your browser.</li>
			<li>As a basic user, you may look at groups, and follow progress</li>
			<li>An administrator must provide your e-mail will a validation code in order for your to be validated</li>
			<li>Once a code has been generated for you, you will see a red box in your top menu 'Enter Validation code'</li>
			<li>Once you get your validation code in your e-mail, return to the site, click on the red link, and enter the code inthe provided box.</li>
		</ul>

	<h4>Validating process</h4>
	<ul>
		<li>Only an admin may generate a Validation code for any e-mail they wish.</li>
		<li>When a code is generated for your email, your UI will tell you that.</li>
	</ul>

	<h4>Once you are validated</h4>
		<ul>
			<li>As a validated user, you can now buy for members, register other members and make groups.</li>
			<li><b>The main thing you need to do is register yourself as a member</b>, but if you need to register someone else, then you may do so, but you must handle thier member and buying information and assume respondsibility for them.</li>
			<ul>
				<li>Until this user signs in and is validated with thier e-mail, you will be heald respondsible for this user.</li>
				<li>If this user decides to sign up later, then once they are validated, then this member will be transfered over to them</li>
			</ul>
			<li>As a group coordinator you may add any member to you group.</li>
		</ul>

	<h4>The buying process</h4>
		<ul>
			<li>When you or someone you manage, is selected and is actively buying for someone else, go to that persons member entry in any group.</li>
			<li>Click on the 'Start Buy' button.</li>
			<li>Once the 'Start Buy' button is clicked the member entry will turn green to everyone signifying that this user in currently being bought for.</li>
			<li>If you are unable to any reason to complete the buying process please click cancel to turn that user back to an eligible status.</li>
			<li>When you buy, please fill out the confirmation number, the total cost and who covered the user, and an e-mail will be sent to the user with all the information, plus what ever extra notes you put in the purchase form, and any payment details the covering member put in thier profile.</li>
			<li>The user will turn red and will be marked as covered.</li>
			<li>You may find a pseudo receipt of your coverage in the purchases screen.</li>
			<li>When a group is full covered, the background of the group will turn green and also the bubble in the left hand side menu will turn green.</li>
		</ul>

	<h4>Notes:</h4>
		<ul>
			<li>The websocket (the thing responsible for the live updates) will go offline if you leave it too long, and won't load up at all, so you need to manually refresh your browser to get it back online.</li>
			<li>Buying for someone is strictly on the honor system.</li>
		</ul>
</div>

<style type="text/css">

</style>