
<div class="welcome-message">
	<h2>Rules and Stuff</h2>
	<p>
		<b>
			A few guide lines: 
		</b>
		<ul>
			<li>You must sign in using your facebook credentials, or verify an e-mail with a manula sign up, this is to avoid abuse of the site, and people gaming the member pool.  This site will in no way sell, or profit from any information you provide via facebook, or otherwise, this is strictly a tool I created to help those who want an SDCC ticket have an easier time getting one.</li>
			<li>When you log in, you may create a 'buying group by navigating to the +GROUP button on top, from there, only the coordinator of that group may add members with thier SDCC membership ID.</li>
			<li>Please only add members of people that are trusted, this website assumes no liability for lost funds.</li>
			<li>Usually, every user signs only his or herself up.  But in the case that someone you know wants a ticket to SDCC but does not have a facebook account, you may sign them up using thier member ID, but you will assume respondsibility for them. </li>
			<li>You may buy tickets for up to 3 other people in addition to yourself, for this reason, a buying group has a maximum of 5 members  allowed to it, although a member can be part of up to 5 different buy groups, this is to ensure that people have an opportunity to buy for thier entire group if selected. There will always be one person in the group not covered but hopefully another group they are a part of may cover them.  This is my way to ensure the maximum amount of people who want a ticket may have to opportunity to buy one.</li>
			<li>If someone has registered a member you need to register, you may leave them a message on this site by clicking on thier avatar/portrait and following the instructions.</li>
		</ul>

		<ul class="bbc_list"><li>Be eligible for the 2018 returning registration badge sale.</li><li>Share personal information with the group leader. This includes (but may not be limited to) your last name, phone number and email address.</li><li>Purchase badges for strangers (other people in the group, whom you may not know). <strong>Note that you are not allowed to buy badges for anyone who is not in your buying group. </strong>As such, make sure your friends/family are all in the same buying group.</li><li>Stay online/in the waiting room during the sale even if a badge has already been purchased for you, to help out others in the group by buying for them.</li><li>Join in a group chat (to be determined by the group leader) to stay in touch with your group on registration day.</li><li>If someone else buys a badge for you, payment should be made immediately (usually Paypal) to the buyer. Ideally this should be done within 24 hours of the badge sale.</li><li>If you buy badges for someone else, you should mail a screenshot or copy of the confirmation email to them immediately, so that they can confirm that they have a badge. At this time, it is appropriate to offer your payment information (usually Paypal) so that they can refund you.</li></ul>

	</p>

	<hr>

	<h3>Getting started:</h3>
</div>

<style type="text/css">

</style>