.wrapper {
	position: relative;
}

.skin-blue {
	position: relative;
	height: 100%;
	padding: 0;
}

.content-wrapper {
	height: 1000px;
}

.login-body {
	padding-left: 20%;
}

.create-form {
	  position: relative;
    width: 90%;
    padding: 1%;
    border-radius: 10px;
    margin: 2px;
    font-size: 12px;
    overflow-y: auto;
    /*padding: 2%;*/
    background-color: white;
    /*border-radius: 40px;*/
}

.group-list-item {
    width: 100%;
    margin-bottom: 5px;
    color: white;
    font-size: 13px;	
}

.content {
    padding-left: 5%;
    overflow: scroll;
    height: 1000px;
 }

.list-group {
	  padding-left: 0;
    margin-bottom: 20px;
    width: 90%;
    padding: 3px;
}

.group-list {
	
	padding-left: 5%;
}

.list-group a {
	font-size: 14px;
}

.member-item {
    background-color: #9dd6f7;
    padding: 1%;
    font-size: 20px;
    margin-bottom: 2%;
    width: 90%;
    border-radius: 10px;
}

.mem-block {
    display: inline-block;
    margin-right: 3%;
    padding: 7px;
    padding: 1%;
    border-radius: 10px;
    margin: 2px;
    font-size: 12px;
    overflow-y: auto;
    background-color: #bdd7e6;
}

.mem-block a {
    text-decoration: none;
}

.day-block {
    display: inline-block;
    background-color: white;
    margin-right: 2%;
        padding: 1%;
    border-radius: 10px;
    font-weight: bold;
}

.day-holder {
    width: 40%;

}

.clock-slot {
    list-style: none;
    background-color: #d1ea13;
    padding: 1%;
    border-radius: 10px;
    margin: 2px;
    font-size: 12px;
     width: 100%;
    overflow-y: auto;
}
.group-slot {
    background-color: #3c8dbc;
    
}
.group-slot a{
    color: black;
    margin: 0px;
    text-decoration: none;
    border: transparent;
}

.group-slot:hover { 
    background-color: yellow;
}

@media (max-width: 900px) {
    .clock-label {
        display: none;
    }

    .clock-slot {
        width: 100%;
    }

    .mem-block {
        display: block;
        width: 100%;
        margin-right: 1%;
        background-color: #bdd7e6;
        /*padding: 7px;*/
        padding: 3%;
        border-radius: 10px;
        margin: 2px;
        font-size: 12px;
        overflow-y: auto;
    }

}

