.wrapper {
	position: relative;
}

.skin-blue {
	position: relative;
	height: 100%;
	padding: 0;
}



.content-wrapper {
	height: 100%;
}

.login-body {
	padding-left: 10%;
}

.create-form {
    position: relative;
    width: 100%;
    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
    margin: 2px;
    font-size: 12px;
    overflow-y: auto;
    /* padding: 2%; */
    /* background-color: white; */
    background-color: #c3e9ff;
    /* border-radius: 40px; */
}

.create-code-form {
    width: 50%;
    width: 50%;
    padding-top: 2px;
    padding-left: 3%;
    background-color: #162c48;
    color: white;
}

.group-list-item {
    width: 100%;
    margin-bottom: 5px;
    color: white;
    font-size: 13px;	
}

.group-list-item-index {
    font-size: 20px;
}

.content {
    padding-left: 5%;
    overflow: scroll;
    height: 1000px;
}

.list-group {
   padding-left: 0;
   margin-bottom: 20px;
   width: 90%;
   padding: 3px;
}

.group-list {
	width: 90%;
	padding-left: 0%;
}

.list-group a {
	font-size: 14px;
}

.member-item {
    background-color: #d2da95;
    padding: 1%;
    font-size: 20px;
    margin-bottom: 2%;
    width: 100%;
    border-radius: 10px;
}

.smaller_member_item {
    height: 30px;
    width: 100%;
    background-color: #efffaf;
}

.member-item:hover {
    /*background-color: yellow;*/
    /*wid*/
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: red;
} 

.mem-block {
    display: inline-block;
    margin-right: 3%;
    padding: 7px;
    padding: 1%;
    border-radius: 10px;
    margin: 2px;
    font-size: 12px;
    overflow-y: auto;
    background-color: #bdd7e6;
}

.mem-block a {
    text-decoration: none;
}

.day-block {
    display: inline-block;
    background-color: white;
    margin-right: 2%;
    padding: 1%;
    border-radius: 10px;
    font-weight: bold;
}

.inbox {
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

.day-holder {
    width: 33%;

}

.clock-slot {
    list-style: none;
    background-color: #c3e9ff;
    padding: 1%;
    border-radius: 10px;
    margin: 2px;
    font-size: 12px;
    /*width: 100%;*/
    overflow-y: auto;
}
.group-slot {
    background-color: #c3e9ff;
    
}
.group-slot a{
    color: black;
    margin: 0px;
    text-decoration: none;
    border: transparent;
}

.group-slot:hover { 
    background-color: yellow;
}

.sm-clock-slot {
    width: 100%;
}

.mem-block {
    height: 100px;
    width: 32%;
}

.name-holder {
    width: 30%;
}

#member-modal-block {
    position: relative;
    max-height: 300px;
    overflow-y: scroll;
}

#member-modal-block li.list-member {
    padding: 1px;
}

.member_active {
    background-color: #6dff94;
    font-weight: bold;
}

.group_active {
    color: black;
    margin: 0px;
    text-decoration: none;
    background-color: #ecf0f5;
    width: 107%;
    padding: 10px;
}

.group_active a {
    color: black;
    margin: 0px;
    text-decoration: none;
    border: transparent;
}

.search-container {
    width: 90%;
}


/*talk bubble CSS*/


/* container */
.container {
  padding: 5% 5%;
}

/* CSS talk bubble */
.talk-bubble {
    margin: 15px;
    display: inline-block;
    position: relative;
    /*width: 60%;*/
    width: 80%;
    top: 35px;
    left: 0px;
    height: auto;
    background-color: lightyellow;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -8px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 32px solid;
    border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 30px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 38px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}
/*
    left: -8px;
  right: auto;
  top: auto;
    bottom: -40px;
    border: 32px solid;
    border-color: transparent transparent transparent #666;
    left: 0px;
  right: auto;
  top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent lightyellow;

    /*Right triangle, placed bottom right side slightly in*/
    .tri-right.border.btm-right:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: -8px;
        bottom: -40px;
        border: 20px solid;
        border-color: #666 #666 transparent transparent;
    }
    .tri-right.btm-right:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: 0px;
        bottom: -20px;
        border: 12px solid;
        border-color: lightyellow lightyellow transparent transparent;
    }

    /* Right triangle, right side slightly down*/
    .tri-right.border.right-in:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: -40px;
        top: 30px;
        bottom: auto;
        border: 20px solid;
        border-color: #666 transparent transparent #666;
    }
    .tri-right.right-in:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: -20px;
        top: 38px;
        bottom: auto;
        border: 12px solid;
        border-color: lightyellow transparent transparent lightyellow;
    }

    /* Right triangle placed top right flush. */
    .tri-right.border.right-top:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: -40px;
        top: -8px;
        bottom: auto;
        border: 32px solid;
        border-color: #666 transparent transparent transparent;
    }
    .tri-right.right-top:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: -20px;
        top: 0px;
        bottom: auto;
        border: 20px solid;
        border-color: lightyellow transparent transparent transparent;
    }

    /* talk bubble contents */
    .talktext{
        padding: 3%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: left;
        line-height: 1.5em;
        font-size: 15px;}
        .talktext p{
          /* remove webkit p margins */
          -webkit-margin-before: 0em;
          -webkit-margin-after: 0em;
      }

      .chat-avatar {
        /*position: absolute;*/
        height: 63px;
        top: -40px;
        /*position: relative;*/
        left: 3%;
        max-height: 80px;
    }

    .chat-form {
        padding: 2px;
        /*background-color: #d4cea8;*/
        background-color: #efeacc;
        height: 24px;
    }
    #chat_container {
        position: relative;
        width: 100%;
        height: 300px;
    }

    .someone_typing {
        display: none;
        width: 100%;
        position: relative;
        background-color: #efeacc;
        position: relative;
        margin: 0 auto;
        background-color: #efeacc;
        width: 70%;
    }

    .chat-log {
        position: relative;
        overflow-y: scroll;
        height: 600px;
        margin-top: 25px;
    }
    .chat-box {
        position: relative;
        /*width: 90%;*/
        background-color: #efeacc;
        /*background-color: rgb(60, 141, 188);*/
        height: 700px;
        /*margin: 3px;*/
        border-radius: 15px;
        padding: 3%;
        padding-top: 5px;
        color: #151313;
        overflow-y: hidden;
    }

    .chat-message-input {
        width: 70%;
        background-color: #374850;
        color: white;
        padding: 2px;
        padding-left: 2%;
        font-size: 14px;
        font-family: monospace;
        margin: 0 auto;
    }

    .chat-line {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }

    .bubble-time {
        float: right;
        right: 4px;
        padding: 4px;
        position: absolute;
        /*background-color: #ffffe0;*/
        background-color: rgba(255, 255, 224, 0.57);
        border-radius: 20px;
        font-size: 10px;
        border-style: solid;
        border-top-color: #efeacc;
        border-right-color: transparent;
        border-color: #efeacc;
        border-bottom-style: inset;
        border-bottom-color: #efeacc;
        border-left-color: #efeacc;
    }

    .bubble-time-left {
        float: left;
        left: 4px;
        padding: 7px;
        position: absolute;
        background-color: #ecf0f5;
        border-radius: 20px;
    }

    .room-box {

    }

    .member-box {

    }

    .expand-chat-log {
        width: 100%;
    }

    .show-side-menu {
        display: none;
    }
    .welcome-message {
        width: 75%;
        font-size: 14px;
        font-family: sans-serif;
        padding: 5%;
    }

    .val-code-box {
        padding: 2%;
        background-color: #f7d6ad;
        width: 50%;
        margin-top: 12px;
        border-radius: 10px;
        text-align: center;
        padding-top: 1px;
    }

    .covered-member {
        padding: 2%;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        background-color: yellow;
        border-radius: 10px;
        color: red;
        margin: 4px;
    }

    .code_container {
        padding-left: 2%;
        padding: 1%;
        background-color: #ffdada;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 15px;
        font-size: 20px;
    }

    .code_container .code {
        padding-left: 6%;
    }
    
    .pag-contain {
        margin: 0 auto;
    }
    .pagination a {
        display: inline-block;
    }

    .login-window {
        background-color: #e2e3e4;
        width: 70%;
        padding: 2%;
        border-radius: 10px;
    }

    .fblogin {
        margin-bottom: 0 auto;
        width: 100%;
    }

    .sign_log_in {
        float: right;
        margin-bottom: 5px;
        width: 40%;
    }

    .more-circle {
        overflow: hidden;
        width: auto;
        position: relative;
        overflow: hidden;
        border-radius: 10px
    }

    .logout-button {
        margin-top: 8px;
        width: 100%; 
    }

    .info {
        width: 75%;
    }

    .form-check-inline {
        /*background-color: #ffcccc;*/
        background-color: #3c8dbc;
        width: 19%;
        display: inline-block;
        padding: 2%;
        position: relative;
        font-size: 35px;
        margin-bottom: 2%;
        margin-right: 10px;
        text-align: center;
        border-radius: 10px;
        color: black;
    }

    .form-check-stacked {
        color: black;
        background-color: #3c8dbc;
        width: 100%;
        display: block;
        padding: 2%;
        position: relative;
        font-size: 35px;
        margin-bottom: 2%;
        margin-right: 10px;
        text-align: center;
        border-radius: 10px;
    }
    .form-check-inline:hover {
      background-color: #bf9090;
  }
  .form-check-stacked:hover {
      background-color: #bf9090;
  }


  .form-check-inline input[type='checkbox'] {
    display: none;
}

.form-check-stacked input[type='checkbox'] {
    display: none;
}

.error-message {
    background-color: red;
    width: 100%;
    color: wheat;
    padding: 2%;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    height: 10px;
    position: absolute;
}

.admin_item {
   background-color: #3c8dbc;
   color: white;
}

.form-check {
    /*position: relative;*/
    /*display: inline-block;*/
    /*width: 15%;*/
}

.member_covered {
    background-color: #ffb4b4;
}

.active_member_style {
    /*background-color: white;*/
    display: none;
}

.non_active_member_style {
    display: block;

}
.active-button {
    display: none;
}

.active-button-shown {
    display: block;
}
.selected_box {
    background-color: red;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: monospace;
    font-variant: initial;
    font-kerning: initial;
    font-stretch: normal;
    font-weight: bolder;
}

#manual-login-form {
    padding: 0%;
}

.profile-container-edit {
    padding: 3%;
}

.covering_member_selector {

}

.img-circle {
    max-height: 40px;
}

.info_top {
    position: absolute;
    color: white;
    padding: 10px;
    font-size: 15px;
}

.modal-header {
    background-color: #3c8dbc;
    color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.modal-header .close {
    display: none;
}

.modal-content {
    background-color: transparent;
}

.modal-body {
    position: relative;
    padding: 15px;
    background-color: white;
}

.modal-footer {
    border-top-color: #3c8dbc;
    background-color: #3c8dbc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.modal-footer .btn {
    background-color: orange;
    color: white;
    font-weight: bold;

}


#cover_name {
    background-color: #f5aeae;
    background-color: transparent;
    padding: 2%;
    margin: 2px;
    width: 100%;
    text-align: center;
    font-size: 17px;
}

.covering_member_selector {
    width: 100%;
    display: inline-block;
}

.smaller_member_item_smaller{
    height: 30px;
    width: 100%;
    background-color: #3c8dbc;
    margin-top: 2px;
    color: white;

}

.modal-body {
    position: relative;
    padding: 15px;
    background-color: #ecf0f5;
}

#cover_member_box
{
    margin-top: 7px;
    margin-bottom: 7px;
}
@media (max-width: 1697px) and (min-width: 961px) {
   .talk-bubble {
    margin: 15px;
    display: inline-block;
    position: relative;
    /*width: 60%;*/
    width: 90%;
    top: 35px;
    left: 0px;
    height: auto;
    background-color: lightyellow;
    .welcome-message {
        width: 85%;
        font-size: 14px;
        font-family: sans-serif;
        padding: 5%;
    }
}
.info {
    display: none;}

    .chat-line .user-modal-pop {
        display: none;
    }

    .show-side-menu {
        display: block;
    }


    .form-check {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .clock-slot-index {
        width: 100%;
    }



}

@media (max-width: 960px) {
    .clock-label {
        display: none;
    }
    .welcome-message {
        width: 100%;
        font-size: 14px;
        font-family: sans-serif;
        padding: 5%;
    }

    .talk-bubble {
        margin: 15px;
        display: inline-block;
        position: relative;
        /*width: 60%;*/
        width: 50%;
        top: 35px;
        left: 0px;
        height: auto;
        background-color: lightyellow;
    }
    .show-side-menu {
        display: block;
    }


    .clock-slot {
        width: 100%;
    }

    .mem-block {
        display: block;
        width: 100%;
        margin-right: 1%;
        background-color: #bdd7e6;
        /*padding: 7px;*/
        padding: 3%;
        border-radius: 10px;
        margin: 2px;
        font-size: 12px;
        overflow-y: auto;
    }

}

