.wrapper {
	position: relative;
}

.skin-blue {
	position: relative;
	height: 100%;
	padding: 0;
}

.content-wrapper {
	height: 1000px;
}

.login-body {
	padding-left: 20%;
}

.create-form {
	position: relative;
    width: 90%;
    padding: 1%;
    border-radius: 10px;
    margin: 2px;
    font-size: 12px;
    overflow-y: auto;
    /*padding: 2%;*/
    background-color: white;
    /*border-radius: 40px;*/
}

.group-list-item {
    width: 100%;
    margin-bottom: 5px;
    color: white;
    font-size: 13px;	
}

.content {
    padding-left: 5%;
    overflow: scroll;
    height: 1000px;
 }

.list-group {
	  padding-left: 0;
    margin-bottom: 20px;
    width: 90%;
    padding: 3px;
}

.group-list {
	width: 90%;
	padding-left: 0%;
}

.list-group a {
	font-size: 14px;
}

.member-item {
    background-color: #d2da95;
    padding: 1%;
    font-size: 20px;
    margin-bottom: 2%;
    width: 90%;
    border-radius: 10px;
}

.member-item:hover {
    background-color: yellow;
} 

.mem-block {
    display: inline-block;
    margin-right: 3%;
    padding: 7px;
    padding: 1%;
    border-radius: 10px;
    margin: 2px;
    font-size: 12px;
    overflow-y: auto;
    background-color: #bdd7e6;
}

.mem-block a {
    text-decoration: none;
}

.day-block {
    display: inline-block;
    background-color: white;
    margin-right: 2%;
        padding: 1%;
    border-radius: 10px;
    font-weight: bold;
}

.inbox {
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

.day-holder {
    width: 33%;

}

.clock-slot {
    list-style: none;
    background-color: #c3e9ff;
    padding: 1%;
    border-radius: 10px;
    margin: 2px;
    font-size: 12px;
     /*width: 100%;*/
    overflow-y: auto;
}
.group-slot {
    background-color: #c3e9ff;
    
}
.group-slot a{
    color: black;
    margin: 0px;
    text-decoration: none;
    border: transparent;
}

.group-slot:hover { 
    background-color: yellow;
}

.sm-clock-slot {
    width: 100%;
}

.mem-block {
    height: 100px;
    width: 32%;
}

.name-holder {
    width: 30%;
}

#member-modal-block {
    position: relative;
    max-height: 300px;
    overflow-y: scroll;
}

#member-modal-block li.list-member {
    padding: 1px;
}

.member_active {
    background-color: #9dd6f7;
}

.group_active {
    color: black;
    margin: 0px;
    text-decoration: none;
    background-color: #ecf0f5;
    width: 107%;
    padding: 10px;
}

.group_active a {
    color: black;
    margin: 0px;
    text-decoration: none;
    border: transparent;
}

.search-container {
    width: 90%;
}


/*talk bubble CSS*/


/* container */
.container {
  padding: 5% 5%;
}

/* CSS talk bubble */
.talk-bubble {
    margin: 15px;
  display: inline-block;
  position: relative;
    width: 70%;
    top: 35px;
    left: 0px;
    height: auto;
    background-color: lightyellow;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: -40px;
    right: auto;
  top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: -20px;
    right: auto;
  top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: -40px;
    right: auto;
  top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: -20px;
    right: auto;
  top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -8px;
  right: auto;
  top: auto;
    bottom: -40px;
    border: 32px solid;
    border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
  right: auto;
  top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
  right: auto;
  top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
  right: auto;
  top: auto;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: 30px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: 38px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}
/*
    left: -8px;
  right: auto;
  top: auto;
    bottom: -40px;
    border: 32px solid;
    border-color: transparent transparent transparent #666;
    left: 0px;
  right: auto;
  top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: -8px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: 0px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: -40px;
  top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: -20px;
  top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: -40px;
  top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: -20px;
  top: 0px;
    bottom: auto;
    border: 20px solid;
    border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    line-height: 1.5em;
    font-size: 15px;}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.chat-avatar {
    /*position: absolute;*/
    height: 63px;
    top: -40px;
    /*position: relative;*/
    left: 3%;
}

@media (max-width: 900px) {
    .clock-label {
        display: none;
    }

    .clock-slot {
        width: 100%;
    }

    .mem-block {
        display: block;
        width: 100%;
        margin-right: 1%;
        background-color: #bdd7e6;
        /*padding: 7px;*/
        padding: 3%;
        border-radius: 10px;
        margin: 2px;
        font-size: 12px;
        overflow-y: auto;
    }

}

