
	<!-- TODO LIST CURRENT MEMBERS PAYMENT CONTACTS -->
	<form action="/members/make_purchase" method="post" class="member-coverage-form">
	<div class="form-group">
		<label for='conf[price]'>Confirmation Code:</label>
		<input type="text" name="conf[confirmation_code]" class="form-control" placeholder='confirmation code' style='margin-bottom: 2px;width: 100%;'><br>
	</div>

		
	<div class="form-group">
		<label for='conf[price]'>Total Amount Paid:</label>
		<input type="number" name="conf[price]" class="form-control" placeholder='total price' style='margin-bottom: 2px;width: 100%;'><br>
	</div>
	
	<div class="form-group">
		<label for='conf[notes]'>Any Special Notes?</label>
		<textarea type="" name="conf[notes]" class="form-control" placeholder='Any notes on this?' style='margin-bottom: 2px;width: 100%;'>
		</textarea>
	</div>
		<input type="hidden" name="member_group_id" value='<%= mem_grp.id %>'>
    <input type="hidden" name="conf[covering_id]" value=''>
    <input type="hidden" name="conf[member_id]" value='<%= member.id %>'>
		<h2>Who is covering this member?</h2>
		<div id="cover_name"></div>
		<br>
		<a href="#" class='btn btn-primary btn-lg covering_member_selector iam'>I will cover this member</a>
		<a href="#" class='btn btn-primary btn-lg covering_member_selector another'>Another member will cover this member</a>

</form>

<div id="cover_member_box" style="display: none;">
	
	<input type="text" name="q" id='m_modal_search' class="form-control" autocomplete="off" placeholder="Search Members by SDCC member ID or name..."/>
	<ul class='member-list-results'>
		<%= render :partial => 'members/member_list_part_small', :locals => { :members => current_user.members.first(4), :type => 'smaller'} %>
	</ul>

</div>

