<% members.each do |member| %>
		<div class="list-member">
		<% if type == 'smaller' %>
			<%= render :partial => 'members/sm_member_item_smaller', :locals => { :member => member, :mem_grp => nil, :grp => nil } %>
		<% elsif type == 'smaller_add' %>
			<%= render :partial => 'members/sm_member_item_smaller', :locals => { :member => member, :mem_grp => nil, :grp => nil } %>
		<% else %>
			<%= render :partial => 'members/sm_member_item', :locals => { :member => member, :mem_grp => nil, :grp => nil } %>
		<% end %>
		</div>
<% end %>