<a href="#" class='btn smaller_member_item' data-id='<%= member.id %>' style='    height: 30px;
    width: 100%;
    background-color: #efffaf; margin-top: 2px;'>
	 <%= member.name %> <%= member.last_name %>  <%= member.sdcc_member_id %>
</a>

