<div id="new-member-form" style='display: block; overflow-y: hidden;'>
  <div class="create-form">
    <form action='/members' method='POST' id='create-member-form'>
      <h3>Create a new Member</h3>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-group">
        <label for='member[name]'>First Name</label>
        <input class="form-control" type="text" name='member[name]'>
      </div>
      <div class="form-group">
        <label for='member[last_name]'>Last Name</label>
        <input class="form-control" type="text" name='member[last_name]'>
      </div>
      <div class="form-group">
        <label for='member[phone]'>Phone</label>
        <input class="form-control" type="text" name='member[phone]'>
      </div>
      <div class="form-group">
        <label for='member[email]'>E-Mail</label>
        <input class="form-control" type="text" name='member[email]'>
      </div>
      <div class="form-group">
        <label for='member[phone]'>SDCC Member ID</label>
        <input class="form-control" id='sdcc_member_id_holder_create' type="text" name='member[sdcc_member_id]'>
      </div>

      <div id="error_list" style="color: red"></div>
      <button type="submit" class="btn btn-primary">Register Member</button>
    </form>
  </div>
</div>

<script type="text/javascript">
  $('body').on('submit', '#create-member-form', function(event) {
    event.preventDefault();
    // create the member.
    $.ajax({
      url: '/members/register_member',
      type: 'POST',
      data: $(this).serialize(),
    })
    .done(function(data) {
      if (data.success) {
        // register the member to the group.
        alert('member successfully registered');
        $('#create-member-form').trigger('reset');
      } else {
        populateErrors(data.message);
      }
    })    
  });
</script>
